@font-face {
    font-family: "Adobe Clean UX";
    src: url("../fonts/AdobeCleanUX-Bold.woff") format("woff");
    src: url("../fonts/AdobeCleanUX-Bold.woff2") format("woff2");
}

h1,h2,h3,h4,h5,h6,p,a,span,li,td,th,button,input,textarea,label {
    font-family: "Adobe Clean UX";
    margin: 0;
    letter-spacing: -1px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


.black-screen-alpha{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
}

.box-wrapper{
    margin: 0 30px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box-notification{
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.box-close-btn svg {
    float: right;
    cursor: pointer;
}

.box-content{
    margin-block-start: 15px;
    margin-block-end: 15px;
}

.box-btn-content{
    margin-left: auto;
}

.box-btn{
        background-color: #008cff;
        border: 0;
        padding: 8px 20px;
        border-radius: 20px;
        color: white;
        letter-spacing: normal;
        cursor: pointer;
        width: fit-content;
}

.box-btn:hover{
    background-color: #0074ff;
}

.redirecting{
    display: flex;
    flex-direction: column;
}

.redirecting-text{
    color: white;
    font-size: 45px;
}

.Header{
    background-color: #f5f5f5;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.Header p{
    font-size: 25px;
    text-align: center;
}

.content{
    position: fixed;
    top: 53px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow-x: hidden;
}

footer{
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer-text{
    font-size: 60px;
    background: -webkit-linear-gradient(left, #f06844 0%, #ee4c54 25%, #d45e95 50%, #9c6ca6 75%, #6583c1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.redirect-block{
    display: flex;
}

.redirect-block p{
    margin-right: 10px;
    color: black;
    cursor: pointer;
}

.redirect-block p:hover{
    text-decoration: underline;
}