@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Condensed.woff2') format('woff2'),
        url('HelveticaNeue-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

